<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Tracking</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.1/dist/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container shadow rounded-3 p-4">
        <h2 class="text-md-center">Welcome to tracking App</h2>
        <h4>Mode developpement: in process...</h4>
    </div>
</body>
</html>